{% block content %}
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'account:user_profile' %}" class="btn btn-link">پنل کاربری</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'account:edit_user_profile' %}" class="btn btn-link">ویرایش اطلاعات</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'account:logout' %}" class="btn btn-warning">خروج</a>
            </li>
        </ul>
    </div>
{% endblock %}